.idea
.pytest_cache
venv/
venv
dist/
build/
src/redAccess.egg-info
src/clients/__pycache__/
src/utils/__pycache__/
src/ExonProject.egg-info/
src/clients/api/__pycache__/
src/clients/db/__pycache__/
src/tests/__pycache__/
logs
./logfile.log
logs/logfile.log
tests/logfile.log
tests/__pycache__/
src/clients/db/searching_engine.db
